<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="navbar">
      <Nav>
        Este es el nav
      </Nav>
  </div>
  <div class="container-left">
      Bienvenido
  </div>
  <div class="container-right">
      Opciones
  </div>
<br>
  <a href="/signin">Iniciar sesion</a>
  <br>
  <a href="/usuario">Usuario</a>
</body>
</html>